<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelagency.mapper.BoardMapper">
    <resultMap id="BoardVOResultMap" type="com.example.travelagency.vo.BoardVO">
        <id property="BOARD_ID" column="BOARD_ID"/>
        <result property="USER_ID" column="USER_ID"/>
        <result property="BOARD_TITLE" column="BOARD_TITLE"/>
        <result property="BOARD_CONTENT" column="BOARD_CONTENT"/>
        <result property="CREATED_AT" column="CREATED_AT"/>
        <result property="UPDATED_AT" column="UPDATED_AT"/>
        <result property="BOARD_HITS" column="BOARD_HITS"/>
        <result property="USER_ACCOUNT" column="USER_ACCOUNT"/>
        <result property="USER_NAME" column="USER_NAME"/>
    </resultMap>

    <select id="getAllBoardPaged" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        ORDER BY BOARD_ID DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getBoardById" parameterType="int" resultType="map">
        SELECT
            tb.BOARD_ID, tb.USER_ID, tb.BOARD_TITLE, tb.BOARD_CONTENT, tb.CREATED_AT, tb.UPDATED_AT, tb.BOARD_HITS, tu.USER_NAME, tu.USER_ACCOUNT
        FROM tb_board tb
        left outer join tb_user tu /* 사용자정보는 있으면 보여주고 없으면 null */
            on tu.user_id = tb.user_id
        WHERE tb.BOARD_ID = #{boardId}
    </select>

    <select id="getBoardByTitle" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_TITLE LIKE #{keyword}
    </select>

    <insert id="addComment" parameterType="map">
        INSERT INTO TB_COMMENT
            (BOARD_ID, COMMENT_WRITER, COMMENT_CONTENT, CREATED_AT, UPDATED_AT)
        VALUES
            (#{boardId}, #{commentWriter}, #{commentContent}, NOW(), NOW())
    </insert>

    <select id="selectTop5ViewedPosts" resultMap="BoardVOResultMap">
        SELECT *
            FROM tb_board
        ORDER BY BOARD_HITS  DESC
        LIMIT 5
    </select>

    <update id="incrementBoardHits">
        UPDATE TB_BOARD
        SET BOARD_HITS = BOARD_HITS+1
        WHERE BOARD_ID = #{boardId}
    </update>

    <select id="searchBoard" resultType="map">
        SELECT
            *
        FROM TB_BOARD TB
        LEFT OUTER JOIN TB_USER TU
        ON TB.USER_ID = TU.USER_ID
        WHERE 1=1
        <if test="searchType == 'title'">
            and BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'content'">
            and BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'userAccount'">
            and USER_ACCOUNT = #{keyword}
        </if>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*)
        FROM TB_BOARD
        WHERE 1=1
        <if test="searchType == 'title'">
            and BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'content'">
            and BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'userAccount'">
            and USER_ACCOUNT = #{keyword}
        </if>
\    </select>

    <select id="getCommentListByBoardId" parameterType="int" resultType="map">
        SELECT  TC.COMMENT_ID,
                TC.BOARD_ID,
                TC.COMMENT_WRITER,
                TC.COMMENT_CONTENT,
                TC.CREATED_AT,
                TC.UPDATED_AT
        FROM TB_COMMENT TC
        INNER JOIN TB_BOARD TB ON TB.BOARD_ID = TC.BOARD_ID
        WHERE tb.BOARD_ID = #{BOARD_ID}
    </select>

    <!-- 제목으로 검색 + 페이징 -->
    <select id="getBoardByTitlePaged" resultMap="BoardVOResultMap">
        SELECT *
        FROM TB_BOARD
        WHERE BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY CREATED_AT DESC
            LIMIT #{offset}, #{limit}
    </select>

    <!-- 내용으로 검색 + 페이징 -->
    <select id="getBoardByContentPaged" resultMap="BoardVOResultMap">
        SELECT *
        FROM TB_BOARD
        WHERE BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY CREATED_AT DESC
            LIMIT #{offset}, #{limit}
    </select>

    <!-- 제목으로 검색한 총 게시글 수 -->
    <select id="getTotalBoardCountByTitle" resultType="int">
        SELECT COUNT(*)
        FROM TB_BOARD
        WHERE BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <!-- 내용으로 검색한 총 게시글 수 -->
    <select id="getTotalBoardCountByContent" resultType="int">
        SELECT COUNT(*)
        FROM TB_BOARD
        WHERE BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <!-- 아이디로 검색 + 페이징 -->
    <select id="getBoardByUserAccount" resultMap="BoardVOResultMap">
        SELECT *
        FROM TB_BOARD
        WHERE USER_ID = #{keyword}
        ORDER BY CREATED_AT DESC
            LIMIT #{offset}, #{limit}
    </select>

    <!-- 아이디로 검색한 총 게시글 수 -->
    <select id="getTotalBoardCountByUserAccount" resultType="int">
        SELECT COUNT(*)
        FROM TB_BOARD
        WHERE USER_ID = #{keyword}
    </select>

    <select id="getTotalBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM tb_board
    </select>

</mapper>