<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelagency.mapper.BoardMapper">
    <resultMap id="BoardVOResultMap" type="com.example.travelagency.vo.BoardVO">
        <id property="BOARD_ID" column="BOARD_ID"/>
        <result property="USER_ID" column="USER_ID"/>
        <result property="BOARD_TITLE" column="BOARD_TITLE"/>
        <result property="BOARD_CONTENT" column="BOARD_CONTENT"/>
        <result property="CREATED_AT" column="CREATED_AT"/>
        <result property="UPDATED_AT" column="UPDATED_AT"/>
        <result property="BOARD_HITS" column="BOARD_HITS"/>
    </resultMap>

    <resultMap id="CommentVOResultMap" type="com.example.travelagency.vo.CommentVO">
        <id property="COMMENT_ID" column="COMMENT_ID"/>
        <result property="BOARD_ID" column="BOARD_ID"/>
        <result property="COMMENT_WRITER" column="COMMENT_WRITER"/>
        <result property="COMMENT_CONTENT" column="COMMENT_CONTENT"/>
        <result property="CREATED_AT" column="CREATED_AT"/>
        <result property="UPDATED_AT" column="UPDATED_AT"/>
    </resultMap>

    <select id="getAllBoardPaged" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        ORDER BY BOARD_ID DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getBoardById" parameterType="int" resultType="map">
        SELECT
            tb.BOARD_ID, tb.USER_ID, tb.BOARD_TITLE, tb.BOARD_CONTENT, tb.CREATED_AT, tb.UPDATED_AT, tb.BOARD_HITS, tu.USER_NAME, tu.USER_ACCOUNT
        FROM tb_board tb
        left outer join tb_user tu /* 사용자정보는 있으면 보여주고 없으면 null */
            on tu.user_id = tb.user_id
        WHERE tb.BOARD_ID = #{boardId}
    </select>


    <select id="getBoardByTitle" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_TITLE LIKE #{keyword}
    </select>

    <select id="getCommentListByBoardId" parameterType="int" resultMap="CommentVOResultMap">
        SELECT *
            FROM TB_COMMENT TC
        INNER JOIN TB_BOARD TB ON TB.USER_ID = TC.COMMENT_WRITER
        INNER JOIN TB_USER TU ON TU.USER_ID = TC.COMMENT_WRITER
        WHERE tb.BOARD_ID = #{BOARD_ID}
    </select>

    <select id="getBoardListByTitle" parameterType="string" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_TITLE LIKE CONCAT('%',#{keyword},'%')
    </select>

    <select id="getBoardListByContent" parameterType="string" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_CONTENT LIKE CONCAT('%',#{keyword},'%')
    </select>

    <select id="getTotalBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM tb_board
    </select>

</mapper>