<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/layout/head :: headFragment"></th:block>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<nav th:replace="~{layout/nav :: navFragment}"></nav>
<main class="main-content">
    <link href="/css/board.css" rel="stylesheet">
    <section class="board-detail">
        <table class="form-table">
            <tr>
                <td colspan="2"><h2 th:text="${board.BOARD_TITLE}">제목이 없습니다.</h2></td>
            </tr>
            <tr>
                <td class="col1">작성자</td>
                <td class="col2"><span th:text="${board.USER_NAME}"></span></td>
            </tr>
            <tr>
                <td class="col1">날짜</td>
                <td class="col2"><span th:text="${#dates.format(board.CREATED_AT, 'yyyy-MM-dd HH:mm')}"></span></td>
            </tr>
            <tr>
                <td class="col1"> 조회수</td>
                <td class="col2"><span th:text="|조회수: ${board.BOARD_HITS}|"></span></td>
            </tr>
            <tr>
                <td class="col1"> 글본문</td>
                <td class="col2">
                    <span th:utext="${board.BOARD_CONTENT}">내용이 없습니다.</span>
                </td>
            </tr>
        </table>
    </section>
    <section class="comment-section">
        <h3>📌 댓글</h3>
        <span class="comment-header" th:if="${#lists.isEmpty(commentList)}">첫 댓글의 주인공이 되어보세요.</span>
        <ul class="comment-list" th:if="${!#lists.isEmpty(commentList)}" th:each="comment : ${commentList}">
            <li class="comment-header" th:text="${user.USER_NAME} +' ['+${#dates.format(comment.CREATED_AT,'yyyy-MM-dd HH:mm')}+']'"></li>
            <li class="comment-item" th:text="${comment.COMMENT_CONTENT}"></li>
        </ul>

        <div class="comment-form">
            <!--<h4>댓글 작성</h4>-->
            <form action="/board/addComment" method="post">
                <div class="form-group">
                    <!--<label for="commentWriter"><span th:text="${board.USER_NAME}"></span></label>
                    <input type="hidden" id="commentWriter" name="commentWriter" th:value="${board.USER_ACCOUNT}"/>-->
                </div>
                <div class="form-group">
                    <label for="COMMENT_WRITER"></label>
                    <span class="" th:text="${user.USER_NAME}"></span>
                    <input type="hidden" name="BOARD_ID" id="BOARD_ID" th:value="${board.BOARD_ID}" required/>
                    <input type="hidden" name="COMMENT_WRITER" id="COMMENT_WRITER" th:value="${user.USER_ID}" required/>
                    <label for="COMMENT_CONTENT"></label>
                    <textarea id="COMMENT_CONTENT" name="COMMENT_CONTENT" placeholder="댓글을 입력하세요." required></textarea>
                </div>
                <button type="submit" class="pretty-button btn-submit btn-full">등록</button>
            </form>
        </div>
    </section>
</main>
<footer th:replace="~{layout/footer :: footerFragment}"></footer>

</body>
</html>