<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/head :: headFragment}"></th:block>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<nav th:replace="~{layout/nav :: navFragment}"></nav>
<main class="main-content">
    <link href="/css/contact.css" rel="stylesheet">
    <link href="/css/services.css" rel="stylesheet">
    <div class="container">

        <aside th:replace="~{layout/side-bar :: sideBarFragment}"></aside>

        <section class="content">
            <div class="notice" style="font-size: large; background-color: aliceblue; padding: 10px;">
                <a><strong>🚨공지 </strong> [안내] 사이트 점검 안내 4/1</a>
            </div>

            <div class="keywords">
                <a href="#">서비스 이용</a>
                <a href="#">출장 준비</a>
                <a href="#">결제/환불</a>
                <a href="#">출장 관리</a>
                <a href="#">견적 문의</a>
                <a href="#">회원가입</a>
            </div>
            <h2>❓ 자주 묻는 질문 FAQ</h2>
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h3>Q. 견적 문의는 어떻게 하나요?</h3>
                        <span class="accordion-icon"><img src="/images/company/right-arrow.png"></span>
                    </div>
                    <div class="accordion-content">
                        <p>견적 문의는 상단 '견적 문의하기' 버튼을 통해 신청할 수 있습니다.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h3>Q. 출장 관리 매뉴얼이 있나요?</h3>
                        <span class="accordion-icon"><img src="/images/company/right-arrow.png"></span>
                    </div>
                    <div class="accordion-content">
                        <p>네, 회원가입 후 마이페이지에서 출장 매뉴얼을 다운로드할 수 있습니다.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h3>Q. 회원가입이 필수인가요?</h3>
                        <span class="accordion-icon"><img src="/images/company/right-arrow.png"></span>
                    </div>
                    <div class="accordion-content">
                        <p> 예약 및 결제는 회원가입 후 가능합니다.</p>
                    </div>
                </div>
            </div>
            <table id="readResults">
                <h2>🗂️ 가장 많이 조회된 질문 TOP5</h2>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, stat : ${boardList}" style="text-align: center;">
                    <td name="stat" th:text="${stat.index+1}"></td> <!-- 역순 -->
                    <td name="title"><a th:href="@{/board/boardDetail(BOARD_ID=${board.BOARD_ID})}"><span th:text="${board.BOARD_TITLE}"></span></a></td>
                    <td name="content" th:text="${board.BOARD_CONTENT}"></td>
                    <td name="hits" th:text="${board.BOARD_HITS}"></td>
                </tr>
                </tbody>
            </table>
            <button class="pretty-button" type="button" id="boardList" style="width: 100%;margin: 2em 0; padding: 1rem;}">전체 보기</button>
        </section>
    </div>
</main>
<footer th:replace="~{layout/footer :: footerFragment}"></footer>
<script>
    $(function () {

        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };

        // 전체 게시판으로 이동
       $('#boardList').click(function (e) {
            location.replace("/board/boardList");
       });

        var count = 0;

        // FAQ 아코디언
        $('.accordion-icon').click(function () {
            if(count == 0){
                $(this).closest('div').siblings('div').show();
                count++;
            }else{
                $(this).closest('div').siblings('div').hide();
                count = 0;
            }
        });

        hashTag();

        // 키워드 검색처리
        $('.keywords').find('a').click(function (e) {
            var tag = e.target.textContent;
            var txt = tag.replace('#','');
            $('.search-bar').find('input').val(txt);
            // 여기서 바로 클릭 호출하면 Maximum call stack size exceeded
        });

        $('#boardList').click(function (e) {
            location.replace("/board/boardList");
        });

        // 해시태그 # 추가
        function hashTag() {
            for(var i=0;i<$('.keywords').find('a').length;i++){
                var keywordTxt = $('.keywords').find('a')[i].text;
                $('.keywords').find('a')[i].text = '#'+keywordTxt;
            }
        }

        // 정렬
        function submitSort(type) {
            $('#sortTypeInput').val(type);
            $('.sort form').submit();
        }

    });
</script>
</body>
</html>