<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>간편문의</h2>
                <form action="#" method="post">
                    <div class="fields">
                        <div class="field half">
                            <input id="coprNm" name="coprNm" placeholder="회사명" type="text">
                        </div>
                        <div class="field half">
                            <input id="name" name="name" placeholder="고객명" type="text">
                        </div>
                        <div class="field half">
                            <input id="dept" name="dept" placeholder="소속부서" type="text">
                        </div>
                        <div class="field half">
                            <input id="role" name="role" placeholder="직함" type="text">
                        </div>
                        <div class="field half">
                            <input id="email" name="email" placeholder="이메일" type="email">
                        </div>
                        <div class="field half">
                            <input id="phone" name="phone" placeholder="전화번호" type="text">
                        </div>
                        <div class="field">
                            <div class="textarea-wrapper"><div class="textarea-wrapper"><textarea id="message" name="message" placeholder="메시지" rows="1" style="overflow: hidden; resize: none; height: 59px;"></textarea></div>
                            </div>
                        </div>
                        <div class="field">
                            <select id="quickQuestSel">
                                <option value="">선택하세요</option>
                                <option value="">기업 출장 서비스</option>
                                <option value="">학회/협회 행사</option>
                                <option value="">기타문의</option>
                            </select>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input class="primary" type="submit" value="Send"></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <!--<li><a class="icon brands style2 fa-twitter" href="#"><span class="label">Twitter</span></a></li>-->
                    <!--<li><a class="icon brands style2 fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>-->
                    <li><a class="icon brands style2 fa-instagram" href="#"><span class="label">Instagram</span></a>
                    </li>
                    <!--<li><a class="icon brands style2 fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>-->
                    <!--<li><a class="icon brands style2 fa-github" href="#"><span class="label">GitHub</span></a></li>-->
                    <!--<li><a class="icon brands style2 fa-500px" href="#"><span class="label">500px</span></a></li-->
                    <!--<li><a class="icon solid style2 fa-phone" href="#"><span class="label">Phone</span></a></li>-->
                    <!--<li><a class="icon solid style2 fa-envelope" href="#"><span class="label">Email</span></a></li>-->
                </ul>
            </section>
            <section style="display: block;text-align: left;">
                <h2>투어여행사</h2>
                <span> djWJrn | kajsdas </span><br>
                <span>
                    djWJrn | kajsdas | akhsdj | daskjhdasd | sadsadasd
                </span>

                <ul style="
                        list-style: none;
                        margin: 2rem 0;
                        padding: 0 0;
                    ">
                    <li style="padding: 0 0;">
                        <a href="/noti">
                            <span class="label">[공지] 투어여행사 개인정보처리방침 공지</span>
                        </a>
                    </li>
                </ul>
            </section>
            <ul class="copyright">
                <li>© 투어여행사</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

</th:block>
</html>