<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section style="display: block;text-align: left;">

                <h2 style="margin: 1rem 0">투어여행사</h2>
                <span> 사업자번호 : 12345-67890 | 대표 : 홍길동 </span><br>
                <span>
                    <a th:href="@{/introduce}">회사소개</a> | <a>오시는길</a> | <a>공지사항</a> | <a>고객센터</a> | <a>자주묻는질문</a>
                </span>

                <ul style="
                        list-style: none;
                        margin: 1rem 0;
                        padding: 0 0;
                    ">
                    <li style="padding: 0 0;">
                        <a href="/noti">
                            <span class="label"><a th:href="@{/noti}">[공지] 투어여행사 개인정보처리방침 공지</a></span>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <!--<li><a class="icon brands style2 fa-twitter" th:href="@{/}"><span class="label">Twitter</span></a></li>-->
                    <li><a class="icon brands style2 fa-facebook-f" th:href="@{/}"><span class="label">Facebook</span></a></li>
                    <li><a class="icon brands style2 fa-instagram" th:href="@{/}"><span class="label">Instagram</span></a>
                    </li>
                    <!--<li><a class="icon brands style2 fa-dribbble" th:href="@{/}"><span class="label">Dribbble</span></a></li>-->
                    <li><a class="icon brands style2 fa-github" target="_blank" th:href="@{https://github.com/pol-yglot/travelAgency}"><span class="label">GitHub</span></a></li>
                    <!--<li><a class="icon brands style2 fa-500px" th:href="@{/}"><span class="label">500px</span></a></li-->
                    <!--<li><a class="icon solid style2 fa-phone" th:href="@{/}"><span class="label">Phone</span></a></li>-->
                    <!--<li><a class="icon solid style2 fa-envelope" th:href="@{/}"><span class="label">Email</span></a></li>-->
                </ul>
            </section>
            <ul class="copyright">
                <li>© 투어여행사</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

</th:block>
</html>