<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header id="header">
        <h1><a th:href="@{/}">TRAV-BIZ</a></h1>
        <nav class="links">
            <ul>
                <li><a href="#">베스트</a></li>
                <li><a href="#">해외여행</a></li>
                <li><a href="#">국내여행</a></li>
                <li><a href="#">항공</a></li>
                <li><a href="#">호텔</a></li>
                <li><a href="#">항공+호텔</a></li>
                <li><a href="#">테마여행</a></li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </nav>
    </header>
    <style>
        .main > a{
            border-bottom: 0;
            font-family: "Raleway", Helvetica, sans-serif;
            font-size: 0.7em;
            font-weight: 400;
            letter-spacing: 0.25em;
            text-transform: uppercase;
        }
    </style>
</th:block>
</html>