<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a th:href="@{/}" class="logo">
                <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">투어여행사</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
</th:block>
</html>