<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">



    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/corpTour}">비즈니스출장</a></li>
            <li><a th:href="@{/conference}">학회/협회</a></li>
            <li><a th:href="@{/inquire}">견적문의</a></li>
            <li><a th:href="@{/introduce}">회사소개</a></li>
            <li><a th:href="@{/generic}">테스트1</a></li>
            <li><a th:href="@{/elements}">테스트2</a></li>
        </ul>
    </nav>
</th:block>
</html>