<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navFragment">
    <!-- // 변수값을 문자열로 전달시 작은따옴표 사용 ex) /product/productList(categoryvalue='personal') -->
    <nav class="nav-bar">
        <div class="nav-container">
            <ul class="nav-menu">
                <li><a th:href="@{/}">홈</a></li>
                <li><a th:href="@{/service/businessTrip}">기업출장</a></li>
                <li><a th:href="@{/service/mice}">MICE</a></li>
                <li><a th:href="@{/board/travelNews}">여행정보</a></li>
                <li><a th:href="@{/board/contact}">고객센터</a></li>
            </ul>
        </div>
    </nav>
</div>
</html>