<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navFragment">
    <!-- // 변수값을 문자열로 전달시 작은따옴표 사용 ex) /product/productList(categoryvalue='personal') -->
    <nav class="nav-bar">
        <div class="nav-container">
            <ul class="nav-menu">
                <!-- <li><img src="/icons/menu.png" alt="삼단바" style="width: 30px; margin: 0.5rem 1rem"></li> -->
                <li><a href="/" th:href="@{/}">홈</a></li>
                <li><a href="/services" th:href="@{/service/businessTrip}">기업출장</a></li>
                <li><a href="/mice" th:href="@{/service/mice}">MICE</a></li>
                <!--<li><a href="/report" th:href="@{admin/report}">리포트</a></li>-->
                <li><a href="/contact" th:href="@{/board/contact}">고객센터</a></li>
            </ul>
        </div>
    </nav>
</div>
</html>