.profile {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* 글래스모피즘 효과 */
    backdrop-filter: blur(10px); /* 글래스모피즘 효과 */
}

.dark-mode .profile{
    background-color: #121212;
    color: #eee;
    border: 4px solid #eee;
}

.dark-mode .profile > form{
    color: #121212;
}

.profile-header {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.profile-section > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em 1em;
    text-align: center; /* fallback */
    transition: background 0.2s;
}
.profile-section > a:hover{
    cursor: pointer;
    background: var(--brand-main-color);
    color: #fff;
}

.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    /*background-image: url('/images/profile/background.jpg');*/
    /*background-color: #CFBBD9;*/
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.profile-avatar{
    padding: 0 11em;
}

.profile-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 50px;
}
form#profile-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile-content {

}

.profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.profile-settings {
    text-align: center;
    /*margin: 2rem*/
}
/* ... 기존 CSS 코드 ... */

.wish-list li, .recommend-list li {
    list-style-type: none;
}

 .avatar-modal {
     display: none;
     position: fixed;
     z-index: 1000;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

.avatar-modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.avatar-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1rem;
    border-radius: 12px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.avatar-modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.avatar-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/**
* 브랜드 컬러
*/
:root {
    --brand-main-color: #724A8C; /* 메인 컬러 진한 보라 */
    --brand-sub-color: #CFBBD9; /* 메인 컬러 연한 보라 */
    --brand-warning: #ffc400;
    --brand-highlight-color: linear-gradient(to right, #5a72eb, #ec4c6d);
}