<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelagency.mapper.BoardMapper">
    <resultMap id="BoardVOResultMap" type="com.example.travelagency.vo.BoardVO">
        <id property="BOARD_ID" column="BOARD_ID"/>
        <result property="USER_ID" column="USER_ID"/>
        <result property="BOARD_TITLE" column="BOARD_TITLE"/>
        <result property="BOARD_CONTENT" column="BOARD_CONTENT"/>
        <result property="CREATED_AT" column="CREATED_AT"/>
        <result property="UPDATED_AT" column="UPDATED_AT"/>
    </resultMap>

    <select id="getAllBoardPaged" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        ORDER BY BOARD_ID DESC LIMIT #{limit} OFFSET #{offset}
    </select>

   <select id="getBoardByTitle" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_TITLE LIKE #{keyword}
    </select>

    <select id="getBoardListByTitle" parameterType="string" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_TITLE LIKE CONCAT('%',#{keyword},'%')
    </select>

    <select id="getBoardListByContent" parameterType="string" resultMap="BoardVOResultMap">
        SELECT *
        FROM tb_board
        WHERE BOARD_CONTENT LIKE CONCAT('%',#{keyword},'%')
    </select>

    <select id="getTotalBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM tb_board
    </select>

</mapper>