<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{/layout/head :: headFragment}"></th:block>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<nav th:replace="~{layout/nav :: navFragment}"></nav>
<main class="main-content">
    <link href="/css/login.css" rel="stylesheet">
    <section style="display: flex; justify-content: center">
        <div class="login-container">
            <h2>로그인</h2>
            <form method="post" th:action="@{/login}" id="login">
                <div class="form-group">
                    <label for="username"> 아이디 <span class="warn">*</span></label>
                    <input type="text" name="username" id="username" placeholder="사용자 아이디" value="user1" required>
                </div>
                <div class="form-group">
                    <label for="password"> 비밀번호 <span class="warn">*</span></label>
                    <input type="password" name="password" id="password" value="password000" required
                           minlength="8"
                           maxlength="20"
                           placeholder="8자 이상 20자 이하 비밀번호"
                    >
                </div>
                <div class="form-group">
                    <button type="submit">로그인</button>
                </div>
                <!--<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>-->
                <div class="alert alert-danger" th:if="${param.error}">
                    <p th:text="${param.error}">[로그인 실패 메시지]</p>
                </div>
                <!-- 세션 유효하지 않을 때 -->
                <div class="alert alert-danger" th:if="${param.invalid}">
                    <p>세션이 유효하지 않습니다. 다시 로그인 해주세요.</p>
                </div>
                <!-- 기존 세션 만료됐을 때 -->
                <div class="alert alert-danger" th:if="${param.expired}">
                    <p>다른 곳에서 로그인되어 세션이 만료되었습니다.</p>
                </div>
            </form>
        </div>
    </section>
</main>
<footer th:replace="~{layout/footer :: footerFragment}"></footer>
</body>
</html>