<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="/layout/head :: headFragment"></th:block>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<nav th:replace="~{layout/nav :: navFragment}"></nav>
<main class="main-content">
    <section>
        <div class="content-wrap">
            <h2 th:text="${'✈️ '+title +' 목록'}"></h2>
            <p th:if="${#lists.isEmpty(pageInfo.items)}" class="no-data">등록된 게시글이 없습니다.</p>

            <table th:if="${not #lists.isEmpty(pageInfo.items)}">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, stat : ${pageInfo.items}">
                    <td th:text="${stat.index + 1}"></td>  <td th:text="${board.BOARD_TITLE}"></td>  <td th:text="${board.BOARD_CONTENT}"></td>  </tr>
                </tbody>
            </table>

            <div class="pagination" th:if="${pageInfo.totalPages > 0}">
                <a th:if="${pageInfo.currentPage > 1}" th:href="@{/board/boardList(page=${pageInfo.currentPage - 1})}">&laquo;</a>

                <th:block th:each="page : ${#numbers.sequence(1, pageInfo.totalPages)}">
                    <span th:if="${page == pageInfo.currentPage}" class="current" th:text="${page}"></span>
                    <a th:unless="${page == pageInfo.currentPage}" th:href="@{/board/boardList(page=${page})}" th:text="${page}"></a>
                </th:block>

                <a th:if="${pageInfo.currentPage < pageInfo.totalPages}" th:href="@{/board/boardList(page=${pageInfo.currentPage + 1})}">&raquo;</a>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{layout/footer :: footerFragment}"></footer>
</body>
</html>