<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="/layout/head :: headFragment"></th:block>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<nav th:replace="~{layout/nav :: navFragment}"></nav>
<main class="main-content">

    <section class="hero">
        <div class="hero-content">
            <h1>성공적인 비즈니스 출장을 위한 <br />최적의 파트너</h1>
            <p>맞춤형 출장 솔루션과 프리미엄 서비스를 경험하세요.</p>
            <a href="/service/inquiry" th:href="@{/service/inquiry}" class="cta-btn">지금 바로 문의하기</a>
        </div>
        <div class="hero-image">
            <img src="/images/company/business-removebg.png" alt="출장 이미지">
        </div>
    </section>

    <section class="hero">
        <iframe width="100%" height="500"
                src="https://www.youtube.com/embed/PMBa2F44jxU?autoplay=1&mute=1&loop=1&playlist=PMBa2F44jxU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </section>

    <section class="services">
        <h2>주요 서비스</h2>
        <div class="service-list">
            <div class="service-item">
                <img src="/images/company/airplane.gif" alt="항공권 예약">
                <h3>항공권 예약</h3>
                <p>최적의 항공편과 합리적인 가격을 제공합니다.</p>
            </div>
            <div class="service-item">
                <img src="/images/company/hotel.gif" alt="호텔 예약">
                <h3>호텔 예약</h3>
                <p>편안하고 안전한 비즈니스 호텔을 예약해드립니다.</p>
            </div>
            <div class="service-item">
                <img src="/images/company/rent-car.gif" alt="렌터카 예약">
                <h3>렌터카 예약</h3>
                <p>목적지까지 편리하게 이동할 수 있도록 렌터카를 제공합니다.</p>
            </div>
            <div class="service-item">
                <img src="/images/company/consulting.gif" alt="출장 맞춤 컨설팅">
                <h3>출장 맞춤 컨설팅</h3>
                <p>성공적인 출장을 위한 맞춤형 컨설팅 서비스를 제공합니다.</p>
            </div>
        </div>
    </section>

    <section class="services" style="height: 500px;">
        <div style="width: 100%; height: 100%; background-color: #eee; "><img style="display: inline-block; width: 100%; height: 100%;" src="/images/company/main.png"></div>
    </section>

    <section class="client-logos services">
        <h2 class="section-title">함께 성장하는 고객사들과의 소중한 파트너십</h2>
        <div class="logo-list">
            <div class="logo"><img src="/images/company/naver.png" alt="네이버 로고"></div>
            <div class="logo"><img src="/images/company/kakao.png" alt="카카오 로고"></div>
            <div class="logo"><img src="/images/company/insta.png" alt="인스타그램 로고"></div>
            <div class="logo"><img src="/images/company/google.png" alt="구글 로고" class="google-logo"></div>
            <div class="logo"><img src="/images/company/naver.png" alt="네이버 로고"></div>
            <div class="logo"><img src="/images/company/kakao.png" alt="카카오 로고"></div>
            <div class="logo"><img src="/images/company/insta.png" alt="인스타그램 로고"></div>
            <div class="logo"><img src="/images/company/google.png" alt="구글 로고" class="google-logo"></div>
        </div>
    </section>

    <section class="services" style="height: 500px;">
        <div style="width: 100%; height: 100%; background-color: #eee; "><img style="display: inline-block; width: 100%; height: 100%;" src="/images/company/1.png"></div>
    </section>

    <section class="contact">
        <h2>즉시 문의 신청 하기</h2>
        <form method="post" th:action="@{/inquiry}" id="inquiry" onsubmit="return formCheck(this);">
            <table class="form-table">
                <!--<colgroup>
                    <col style="width: 20%">
                </colgroup>-->
                <tr>
                    <td class="col1"> 성명 <span class="warn">*</span></td>
                    <label class="label-form" for="username"></label>
                    <td class="col2"><input type="text" name="username" id="username" placeholder="홍길동" required></td>
                </tr>
                <tr>
                    <td class="col1"> 휴대폰번호 <span class="warn">*</span></td>
                    <label class="label-form" for="tel"></label>
                    <td class="col2"><input type="tel" name="tel" id="tel" placeholder="010-0000-0000" required></td>
                </tr>
                <tr>
                    <td class="col1"> 이메일 <span class="warn">*</span></td>
                    <label class="label-form" for="USER_EMAIL"></label>
                    <td class="col2"><input type="email" name="USER_EMAIL" id="USER_EMAIL" placeholder="example@google.com" required></td>
                </tr>
                <tr>
                    <td class="col1"> 유형 <span class="warn">*</span></td>
                    <td class="col2">
                        <input type="radio" name="personal" id="personal" checked>
                        <label for="personal">개인</label>
                        <input type="radio" name="copr" id="copr">
                        <label for="personal">기업</label>
                        <input type="radio" name="org" id="org">
                        <label for="personal">단체</label>
                    </td>
                </tr>
                <tr>
                    <td class="col1"> 문의구분 <span class="warn">*</span></td>
                    <td class="col2">
                        <input type="checkbox" name="businesstrip" id="businesstrip" checked required>
                        <label for="businesstrip">출장</label>
                        <input type="checkbox" name="edu" id="edu">
                        <label for="edu">연수/교육</label>
                        <input type="checkbox" name="conference" id="conference">
                        <label for="conference">학회/협회</label>
                        <input type="checkbox" name="etc" id="etc">
                        <label for="etc">기타</label>
                    </td>
                </tr>


                <tr>
                    <td class="col1"> 문의내용 <span class="warn">*</span></td>
                    <td class="col2">
                        <textarea placeholder="문의내용을 입력하세요." name="content" rows="10" cols="33" required style="width: 99%;height: 18em; "></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">견적문의</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</main>
<footer th:replace="~{layout/footer :: footerFragment}"></footer>
</body>
</html>